@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: 2px;
  }

  .scrollBar::-webkit-scrollbar {
    width: 0.1953125vw;
    height: 1vw;
  }
  .scrollBar::-webkit-scrollbar-track {
    margin: 30px;
  }
  .scrollBar::-webkit-scrollbar-thumb {
    width: 0.1953125vw;
    background-color: #dfdfdf;
    border-radius: 3.2552083333333335vw;
  }
  .scrollBar::-webkit-scrollbar-thumb:hover {
    background-color: #b2b2b2;
  }

  .gradient-bg {
    background: radial-gradient(circle, 
      #7670c5 0%, 
      #7f79c9 40%, 
      #3f4e87 60%, 
      #1c1c1d 100%);
  }
  .gradient-btn {
    background: radial-gradient(circle, 
      #7670c5 0%, 
      #8f84f0 0%, 
      #3f4e87 50%, 
      #1c1c1d 100%);
  }
  .gradient-btn2 {
    background: radial-gradient(circle, 
      #7670c5 0%, 
      #8f84f0 30%, 
      #3f4e87 70%, 
      #1c1c1d 100%);
  }
  .gradient-btnText {
    background: radial-gradient(circle, 
      #7670c5 0%, 
      #8f84f0 30%, 
      #3f4e87 50%, 
      #38383c 100%);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .border-gradient {
    position: relative;
    padding: 6px;
    border-radius: 12px;
    background: radial-gradient(circle, #7670c5 0%, 
    #8f84f0 0%, 
    #3f4e87 50%, 
    #1c1c1d 100%);
  }
  
  .border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    border-radius: 10px;
    margin: 2px;
  }
  

  .reveal span {
    display: inline-block;
    opacity: 0;
    animation: revealText 0.004s forwards;
    animation-delay: calc(0.004s * var(--char-index));
  }
  
  @keyframes revealText {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  